.blobs
  .blob A
  .blob B
  .blob C

// -------------------------------------------------------
// SVG 필터 : Gooey 
// -------------------------------------------------------

// Gooey 필터 - 컬러 매트릭스 값
// -------------------------
//    | R | G | B | A  | +
// ---|---------------------
//  R | 1 | 0 | 0 |  0 |  0
// ---|---------------------
//  G | 0 | 1 | 0 |  0 |  0
// ---|---------------------
//  B | 0 | 0 | 1 |  0 |  0
// ---|---------------------
//  A | 0 | 0 | 0 | 18 | -7
// ---|---------------------

svg
  filter#gooey
    feGaussianBlur(
      in="SourceGraphic"
      stdDeviation="10"
      result="blur"
    )
    feColorMatrix(
      in="blur"
      mode="matrix"
      values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
      result="gooey"
    )
    feComposite(
      in="SourceGraphic"
      in2="gooey"
      operator="atop"
    )
    // feBlend(
    //   in="SourceGraphic"
    //   in2="gooey"
    // )